@import '../../sass/utils/mixin';

.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: rgb(1, 1, 1);

  @include mq(tab) {
    color: rgb(255, 0, 0);
  }

  @include mq(desk) {
    color: rgb(89, 0, 255);
  }
}
